@rendermode InteractiveServer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="/favicon.png" alt="Logo" class="navbar-logo" />
            BiliTool
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" id="navToggler"/>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> 主页
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Schedules">
                <span class="bi bi-calendar-nav-menu" aria-hidden="true"></span> 定时任务
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <div @onclick="@(() => { _showConfigSubMenu = !_showConfigSubMenu; })"
                 class="nav-link d-flex justify-content-between align-items-center">
                <div>
                    <span class="bi bi-sliders me-1" aria-hidden="true"></span> 配置文件
                </div>
                <span class="bi @(_showConfigSubMenu ? "bi-chevron-down" : "bi-chevron-right")" aria-hidden="true"></span>
            </div>
        </div>

        @if (_showConfigSubMenu)
        {
            <div class="submenu-container">
                <div class="nav-item px-3 ms-4 submenu-item">
                    <NavLink class="nav-link" href="Configurations/DailyJobConfig">
                        <span class="bi bi-coin" aria-hidden="true"></span> 每日任务
                    </NavLink>
                </div>

                <div class="nav-item px-3 ms-4 submenu-item">
                    <NavLink class="nav-link" href="Configurations/MangaTaskConfig">
                        <span class="bi bi-book" aria-hidden="true"></span> 漫画任务
                    </NavLink>
                </div>

                <div class="nav-item px-3 ms-4 submenu-item">
                    <NavLink class="nav-link" href="Configurations/MangaPrivilegeTaskConfig">
                        <span class="bi bi-book-half" aria-hidden="true"></span> 漫画权益
                    </NavLink>
                </div>

                <div class="nav-item px-3 ms-4 submenu-item">
                    <NavLink class="nav-link" href="Configurations/Silver2CoinTaskConfig">
                        <span class="bi bi-currency-exchange" aria-hidden="true"></span> 银瓜子兑换
                    </NavLink>
                </div>

                <div class="nav-item px-3 ms-4 submenu-item">
                    <NavLink class="nav-link" href="Configurations/ChargeTaskConfig">
                        <span class="bi bi-lightning-charge" aria-hidden="true"></span> 充电任务
                    </NavLink>
                </div>

                <div class="nav-item px-3 ms-4 submenu-item">
                    <NavLink class="nav-link" href="Configurations/VipPrivilegeConfig">
                        <span class="bi bi-star" aria-hidden="true"></span> VIP权益
                    </NavLink>
                </div>

                <div class="nav-item px-3 ms-4 submenu-item">
                    <NavLink class="nav-link" href="Configurations/VipBigPointConfig">
                        <span class="bi bi-award" aria-hidden="true"></span> VIP大积分
                    </NavLink>
                </div>

                <div class="nav-item px-3 ms-4 submenu-item">
                    <NavLink class="nav-link" href="Configurations/LiveLotteryTaskConfig">
                        <span class="bi bi-gift" aria-hidden="true"></span> 直播抽奖
                    </NavLink>
                </div>

                <div class="nav-item px-3 ms-4 submenu-item">
                    <NavLink class="nav-link" href="Configurations/LiveFansMedalTaskConfig">
                        <span class="bi bi-badge-cc" aria-hidden="true"></span> 粉丝勋章
                    </NavLink>
                </div>

                <div class="nav-item px-3 ms-4 submenu-item">
                    <NavLink class="nav-link" href="Configurations/UnfollowBatchedTaskConfig">
                        <span class="bi bi-person-dash" aria-hidden="true"></span> 批量取关
                    </NavLink>
                </div>
            </div>
        }

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Admin">
                <span class="bi bi-person-circle" aria-hidden="true"></span> 管理
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool _showConfigSubMenu;
}
